<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>六发左轮-面向小型开发团队的项目协作开发系统</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">

    </style>
    <script type="text/javascript" src="../static/js/jquery-3.4.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <!-- 触屏缩放 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 禁止缩放
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> -->
</head>
<body>
<h1>你好主页</h1>
</body>
</html>