<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>六发左轮-面向小型开发团队的项目协作开发系统</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- 触屏缩放 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 禁止缩放
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    -->
    <style type="text/css">
        .form-signin{
            max-width: 330px;
            padding: 15px;
            padding-top: 150px;
            margin: 0 auto;
        }

        .myhide{
            display: none;
            position: absolute;
            top: 0;
            left: 183px;

        }
        .form-control{
            margin: 5px 0;
        }
    </style>
    <script type="text/javascript">

        $(document).ready(function() {
            $("#signupbtn").click(function(){
                $("#signin").fadeOut(300);
                $("#signup").fadeIn();
            });
            $("#returnbtn").click(function(){
                $("#signin").fadeIn();
                $("#signup").hide();
            });

            var suc="";

            var flag1;
            var flag2;

            $("#signupEmail").click(function(){

                $(this).keyup(function(event) {
                    flag1=null;
                    var text=$(this).val();
                    console.log(text);
                    $.ajax({
                        url: '/verification',
                        type: 'post',
                        dataType: 'JSON',
                        data: {email: text},
                    })
                        .done(function(data) {
                            console.log(data);
                            if(data.email=="0"){
                                $("#signupSub").attr('disabled',"disabled");
                                flag1=false;
                            }else{
                                flag1=true;
                            }
                            if(flag1&&flag2){
                                $("#signupSub").attr('disabled',false);
                            }

                        })
                        .fail(function() {
                            console.log("error");
                        })
                        .always(function() {
                            console.log("complete");
                        });

                });

            });
            $("#signupUsername").click(function(){

                $(this).keyup(function(event) {
                    flag2=null;
                    var text=$(this).val();
                    console.log(text);
                    $.ajax({
                        url: '/verification',
                        type: 'post',
                        dataType: 'JSON',
                        data: {name: text},
                    })
                        .done(function(data) {
                            console.log(data);

                            if(data.name=="0"){
                                $("#signupSub").attr('disabled',"disabled");
                                flag2=false;
                            }else{
                                flag2=true;
                            }
                            if(flag1&&flag2){
                                $("#signupSub").attr('disabled',false);

                            }
                        })
                        .fail(function() {
                            console.log("error");
                        })
                        .always(function() {
                            console.log("complete");
                        });

                });

            });







        });
    </script>
</head>
<body>
<div class="container" id="signin">

    <form class="form-signin" id="signinform">
        <h2 class="form-signin-heading">请登录</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me">Remember me</label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
        <button class="btn btn-lg btn-primary btn-block" id="signupbtn">注册</button>
    </form>

</div>

<div class="container myhide" id="signup">

    <form class="form-signin" id="signupform">
        <h2 class="form-signin-heading">请注册</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="signupEmail" class="form-control" placeholder="Email address" required="" autofocus="">
        <label for="inputPassword" class="sr-only">Username</label>
        <input type="text" id="signupUsername" class="form-control" placeholder="Username" required="">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="text" id="signupPassword" class="form-control" placeholder="Password" required="">

        <button class="btn btn-lg btn-primary btn-block" type="submit"  id="signupSub">提交</button>
        <button class="btn btn-lg btn-primary btn-block" id="returnbtn">返回</button>
    </form>

</div>
</body>
</html>