<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<body>
<nav class="navbar navbar-default header" th:fragment="nav">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/home" style="color:#fff">Six-Shooter</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" id="navsearch" placeholder="Search"></div>
            </form>
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">
                        Pull requests
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li>
                    <a href="#">Issues</a>
                </li>
                <li>
                    <a href="#">Marketplace</a>
                </li>
                <li>
                    <a href="#">Explore</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#"> <i class="glyphicon glyphicon-bell"></i>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <!-- <i class="glyphicon glyphicon-plus"></i>
                    -->
                        +
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-sw">
                        <li>
                            <a href="/newRepo">
                                <i class="glyphicon glyphicon-leaf"></i>
                                &nbsp;新的存储库
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-upload"></i>
                                &nbsp;导入存储库
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-tasks"></i>
                                &nbsp;新的项目
                            </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-check"></i>
                                &nbsp;新要点
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-grain"></i>
                                &nbsp;新组织
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <!-- <i class="glyphicon glyphicon-user"></i>
                    -->
                        <img class="myhead" th:src="${USER.avatar_url}">
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-sw">
                        <li class="welcome">
                            <a href="#">
                                您好,&nbsp;
                                <i th:text="${USER.name}"></i>
                                !
                            </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a th:href="@{'/'+${USER.name}}">
                                <i class="glyphicon glyphicon-user">&nbsp;个人资料</i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-leaf">&nbsp;您的存储库</i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-tasks">&nbsp;您的项目</i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-star">&nbsp;收藏</i>
                            </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a th:href="@{'/'+${USER.name}+'/setting'}">
                                <i class="glyphicon glyphicon-cog">&nbsp;设置</i>
                            </a>
                        </li>
                        <li>
                            <a href="/loginout">
                                <i class="glyphicon glyphicon-log-out">&nbsp;退出登录</i>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
</body>
</html>